/* HenEcho Shikimori Theme, HencoDesu, 2020 */

@media screen {
    .p-profiles-show .profile-content .c-right .cc-2a {
        padding: 20px;
        background-color: var(--tile-back-color);
        border-radius: 3px;
        border: 1px solid var(--tile-border-color);
    }
}

@media screen and (max-width: 1025) {
    .p-profiles-show .profile-content .c-right .cc-2a {
        margin-left: -20px;
    }

    .p-profiles-show .profile-content .c-right .cc-2a {
        margin-bottom: 20px !important;
    }
}

@media screen and (min-width: 768px) {
    .p-profiles-show .profile-content .c-right .cc-2a {
        height: 155px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .p-profiles-show .profile-content .c-right .cc-2a {
        margin-left: -20px;
    }
}

@media screen and (max-width: 767px) {
    .p-profiles-show .profile-content .c-right .cc-2a {
        margin-top: -15px;
    }
}