/* HenEcho Shikimori Theme, HencoDesu, 2020 */

@media screen {
    .p-profiles .profile-head .c-brief header h1 {
        font-family: var(--main-font);
        color: var(--profile-nickname-color);
        font-size: 28px;
        font-variant: small-caps;
        text-shadow: 1px 1px 0px var(--main-text-shadow-color);
    }

    .p-profiles .profile-head .c-brief header .notice a {
        color: var(--main-link-color);
    }

    
    .p-profiles .profile-head .c-brief header .notice a:hover {
        color: var(--main-link-hover-color);
    }

    
    .p-profiles .profile-head .c-brief header .notice {
        text-shadow: 0 0 0.06em var(--main-text-shadow-color);
        font-weight: bold;
        font-size: 12.5px;
        color: var(--ter-text-color);
        margin-top: 10px;
    }

    
    .p-profiles .profile-head .c-brief header h1.aliases::after {
        color: var(--sec-text-color);
    }

    .p-profiles .profile-head .c-brief header {
        padding: 20px;
        background-color: var(--tile-back-color);
        border-radius: 3px;
        border: 1px solid var(--tile-border-color);
    }
}

@media screen and (min-width: 1200px) {
    .p-profiles .profile-head .c-brief header {
        width: calc(100% - 50px)
    }
}

@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-brief header h1 {
        margin-left: 20px;
        margin-top: 6px;
    }

    .p-profiles .profile-head .c-brief header .notice {
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    .p-profiles .profile-head .c-brief header {
        margin: -400px 10px 10px 10px;
        padding-top: 8px;
        width: calc(60% - 40px);
        float: right;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .p-profiles .profile-head .c-brief header h1 {
        margin-left: 20px;
        margin-top: 6px;
    }

    .p-profiles .profile-head .c-brief header .notice {
        margin-left: 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    .p-profiles .profile-head .c-brief header {
        position: absolute;
        top: 0;
        margin-top: 15px;
        padding-top: 14px !important;
        width: calc(100% - 20px);
        height: 115.5px;
        float: left;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 767px) {
    .p-profiles .profile-head .c-brief header .notice {
        bottom: 0;
        position: absolute;
        margin-bottom: 20px;
        max-width: calc(100% - 40px);
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .p-profiles .profile-head .c-brief header {
        position: absolute;
        top: 0;
        margin-top: 15px;
        padding-top: 14px !important;
        width: calc(100% - 10px);
        height: 132.5px;
        float: left;
        overflow: hidden;
        white-space: nowrap;
    }
}